spring:
  application:
    name: DemoApp

  datasource:
    url: jdbc:h2:mem:greg
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: update   # <-- create missing tables automatically
    show-sql: true
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
      base-path: /actuator
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
    tags:
      application: ${spring.application.name}
